$primary-color: #f2f2f2;
$FT-color: black;
$FT-textColor: white;
$navBarColor: rgb(164, 164, 167);
$navBarBorderColor:  rgb(127, 127, 129);
$textShadowWhite: -1px -1px 1px #FFFFFF;
$textShadowBlack: 1px 1px 1px #000000;