@use '_colors.scss' as *;

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
 }

 main {

    min-height: calc(100vh - 30px);

}

header p {
    text-align: right;
    padding-right: 35px;
}

@font-face {
    font-family: 'rye';
    src: url(../font/Rye-Regular.ttf);
}

.banner {

    p {
        color: $FT-textColor;
        background-color: $FT-color;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 5px;

    .logo_banimg {
        width:650px;
        height: 150px;
        margin-left: 190px;
    }
    #logo_logPane {
        margin: 5px;
        width: 250px;
        margin-right: 190px;
    }
}





.contentNavbar {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 0px;


    .contentNavbar__content {
    width: 1120px;
    background-color: $primary-color;
    margin-top: 0px;

    .contentNavbar__content__style {
    background-color: $FT-color;
    height: 30px;
    width: 1120px;

    }

    .contentNavbar__content__title {
        font-family: rye;
        text-align: center;
        padding-bottom: 20px;
        margin-top: 10px;
        padding: 10px 30px 12px 30px;

    }

    .contentNavbar__content__text {
        text-align: justify;
        padding: 10px 30px 12px 30px;
    }

    small {
            text-align: right;
            padding-left: 900px;
    }

}
    .contentNavbar__navbar {

    display: block;
    background-color: $primary-color;
    width: 190px;
    margin: 5px;

    .contentNavbar__navbar__navMenu {
        border: 7px outset $navBarBorderColor;
        margin: 10px;

        h6 {
            text-align: center;
            color: $navBarColor;
            text-shadow: $textShadowWhite, $textShadowBlack;
            opacity: 0.7;
            font-family: rye;
            border-bottom: 3px outset $navBarBorderColor;
            }
    }

    a {
    display: inline-block;
    background-color: $primary-color;
    font-family: rye;
    color: $navBarColor;
    text-shadow: $textShadowWhite, $textShadowBlack;
    opacity: 0.7;
    }

    li {
        list-style-type: none;
        padding-left: 0%;
    }



}

}


.contentNavbar__navbar__submenu {
    display: none;

}

 .contentNavbar__navbar__sublink:hover .contentNavbar__navbar__submenu {
    display: block;
    border-style: none;



}


.footer {
    background-color: $FT-color;


    p {
    color: $FT-textColor;
    margin-bottom: 0px;
    padding: 0.5%;
    padding-left: 1045px;
    height: 50px;
    }
}