@use '_colors.scss' as *;

html, body {
    min-height: 100%;
 }

 main {
    display: grid;
    min-height: calc(100vh - 30px);
    grid-template-columns: 200px 1fr 300px 200px;
    grid-template-rows: 30px 180px 30px auto;
    grid-template-areas:
    'header header header header'
    '. logo logPane .'
    '. style style .'
    'navbar content content .'
    'footer footer footer footer';
    column-gap: 5px;
}

header p {
    text-align: right;
    padding-right: 35px;
}

@font-face {
    font-family: 'rye';
    src: url(../font/Rye-Regular.ttf);
}

.banner {
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 5;

    p {
        color: $FT-textColor;
        background-color: $FT-color;
    }
}

.logo {
    grid-area: logo;
    margin: 5px;
    grid-column-start: 2;
    grid-column-end: 3;


}

.banimg {
    width:600px;
    height: 150px;

}

.style {
    background-color: $FT-color;
    grid-area: style;
    grid-column-start: 2;
    grid-column-end: 4;
}

#logPane {
    grid-area: logPane;
    margin: 5px;
    width: 1fr;
}

.content {
    background-color: $primary-color;
    padding: 10px 30px 12px 30px;
    grid-area: content;
    grid-column-start: 2;
    grid-column-end: 4;

    .content__title {
        font-family: rye;
        text-align: center;
        padding-bottom: 20px;
    }

    .content__text {
        text-align: justify;
    }

    small {
            text-align: right;
            padding-left: 900px;
    }

}


.navbar {
    grid-area: navbar;
    display: block;
    background-color: $primary-color;

    .navbar__navMenu {
        border: 7px outset $navBarBorderColor;

        h6 {
            text-align: center;
            color: $navBarColor;
            text-shadow: $textShadowWhite, $textShadowBlack;
            opacity: 0.7;
            font-family: rye;
            border-bottom: 3px outset $navBarBorderColor;
            }
    }

    a {
    display: inline-block;
    background-color: $primary-color;
    font-family: rye;
    color: $navBarColor;
    text-shadow: $textShadowWhite, $textShadowBlack;
    opacity: 0.7;
    }

    li {
        list-style-type: none;
        padding-left: 0%;
    }



}


.navbar__submenu {
    display: none;

}

 .navbar__sublink:hover .navbar__submenu {
    display: block;
    border-style: none;



}


.footer {
    background-color: $FT-color;


    p {
    color: $FT-textColor;
    margin-bottom: 0px;
    padding: 0.5%;
    padding-left: 1045px;
    height: 50px;
    }
}